<div *ngIf="filteredFaqs.length">
  <h2 translate class="mx-1 mb-1"> website.filterByCategory </h2>

<div class="d-flex mb-3">
  <button 
  *ngFor="let cat of filteredCategories"
  (click)="flitereByCategory(cat)"
  class="btn btn-primary mx-1"> {{cat}} </button>
</div>

<mat-accordion>
    <mat-expansion-panel 
        [expanded]="step === i"
        (opened)="setStep(i)"
        *ngFor="let faq of filteredFaqs; let i = index"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ currentLang === 'en' ?  faq.questionByEnglish : faq.questionByArabic}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{currentLang === 'en' ? faq.answerByEnglish : faq.answerByArabic}}</p>
    </mat-expansion-panel>
</mat-accordion>
</div>

<div *ngIf="!filteredFaqs.length">
  <h2 class="text-center">No data found!</h2>
</div>

  